*{
    font-family: "JetBrains Mono", monospace;
    padding: 0px;
    margin: 0px;
    color: white;
}
#mainContainer{
    display: flex;
    flex-direction: column;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 380px;
}
body{
    /* background: linear-gradient(35deg, rgba(45, 41, 46, 1) 0%, rgba(18, 15, 28, 1) 47%, rgba(18, 32, 61, 1) 100%); */
    background: linear-gradient(71deg,rgba(237, 76, 154, 1) 0%, rgba(242, 146, 73, 1) 55%, rgba(242, 225, 73, 1) 98%);
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    top: 0px;
    position: sticky;
    background-color: rgba(231, 220, 220, 0.13);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.171);

    border-radius: 0px 0px 10px 10px;

    width: auto;
    height: 70px;
    padding: 20px 20px 20px 100px;

    z-index: 20;
    color: white;

    
}
header.black a{
    color: rgb(24, 24, 24);
}
header.black a:hover{
    color:  rgb(175, 175, 175);
}
header.black h1{
    color: rgb(24, 24, 24);
}   
header.black p#titleText{
    color: rgb(48, 48, 48);
}

#iconBlack{
    position: absolute;
    height: 100%;
    margin: 0 5px;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
}
#iconWhite{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin: 0 5px;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}
#iconBlack.flip{
    opacity: 1;
}
#iconWhite.flip{
    opacity: 0;
}
#imgWrapper{
    position: relative;
    height: 100px;
    width: 100px;
}

#right{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
#left{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    gap: 10px;
}
#title{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
#title p{
    font-size: 20px;
    font-style: italic;
    color: rgb(223, 223, 223);
}
h1{
    font-size: 35px;
    transition: color 0.3s ease-in-out;
}
h2{
    font-size: 100px;
}
a{
    text-decoration: none;
    margin: 0 20px;
    color: white;
    font-size: 30px;
    transition: color 0.3s ease-in-out;
}
a:hover{
    color: rgb(110, 110, 110);
}
p{
    font-size: 30px;
    text-align: center;
    max-width: 60%;
}
#titleText{
    text-align: left;
    max-width: 0%;
    transition: color 0.3s ease-in-out;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 580px;
    padding: 20px;
    margin-top: 150px;
    
}
footer{
    width: auto;
    height: 80px;
    padding: 20px;
    background-color: rgb(17, 17, 17);
}
footer p{
    color: rgb(163, 163, 163);
    font-size: 20px;
    max-width: 100%;
}
#glowna{
    margin-right: 55px;
}
#glowna h2{
    border-right: 3px solid rgb(219, 219, 219);
    animation: blink 1s infinite;
    padding-right: 5px;
}
#mainSite{
    display: flex;
    justify-content: center;

    background-color: white;
    width: auto;
    height: 900px;
    padding: 20px;
    padding-top: 150px;
    
}
#mainSiteContent h1{
    color: black;
    font-size: 100px;
    text-align: center;
    margin-bottom: 100px;
}
#mozliwosci{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}
#czytajBox{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(41deg,rgba(217, 59, 149, 1) 0%, rgba(235, 124, 167, 1) 84%);
    width: 400px;
    height: 400px;
    border-radius: 15px;
    padding: 50px;

    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.171);
    transition: padding 0.2s ease-in;
    
}
#czytajBox:hover{
    padding: 100px;
}
#czytajBox h2{
    text-align: center;
    font-size: 60px;
    background-color: rgba(217, 59, 149, 1);
    border-radius: 15px;
    padding: 20px;
    
}
#czytajBox p{
    text-align: left;
    max-width: 100%;
}
#wikiBox{
    display: flex;
    align-items: center;
    flex-direction: column;

    background: linear-gradient(41deg,rgba(59, 164, 217, 1) 0%, rgba(124, 209, 235, 1) 84%);
    width: 400px;
    height: 400px;
    border-radius: 15px;
    padding: 50px;

    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.171);
    transition: padding 0.2s ease-in;
}
#wikiBox:hover{
    padding: 100px;
}
#wikiBox h2{
    text-align: center;
    font-size: 60px;
    background-color: rgba(59, 164, 217, 1);
    border-radius: 15px;
    padding: 20px;
}
#wikiBox p{
    text-align: left;
    max-width: 100%;
}
#teorieBox{
    display: flex;
    align-items: center;
    flex-direction: column;

    background: linear-gradient(41deg,rgba(217, 206, 59, 1) 0%, rgba(235, 228, 124, 1) 84%);
    width: 400px;
    height: 400px;
    border-radius: 15px;
    padding: 50px;

    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.171);
    transition: padding 0.2s ease-in;
}
#teorieBox:hover{
    padding: 100px;
    
}
#teorieBox p{
    text-align: left;
    max-width: 100%;
}
#teorieBox h2{
    text-align: center;
    font-size: 60px;

    background-color: rgba(217, 206, 59, 1);
    border-radius: 15px;
    padding: 20px;
}
#marzenia{
    width: auto;
    height: 1000px;
    background-color: #161515;
    padding: 100px;

    display: flex;
    flex-direction: row;
    justify-content: left;
}
#marzenia img{
    border-radius: 30px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.089);
}
#marzenia p{
    text-align: left;
    max-width: 95%;
    color: #c7c5c5;
    position: relative;
}
#marzenia h2{
    margin-left: 30px;
}
#firstLetterTab::first-letter{
    margin-left: 50px;
}
#marzeniaBox{
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.171);
    padding: 60px;
    width: 800px;
    border-radius: 30px;
    position: absolute;
    left: 800px;
    margin-top: 0px;
}
#zombek{
    width: auto;
    height: 1200px;
    background-color: white;
    padding: 40px;

    display: flex;
    flex-direction: column;
}
#zombekTitle{
    display: flex;
    justify-content: center;
    align-items: center;
}
#zombekTitle h2{
    color: black;
}
#zombekDescription{
    display: flex;
    justify-content: center;
    align-items: center;
}
#zombekDescription img{
    border-radius: 30px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.089);
}
#rightDescription{
    width: 450px;
    height: 200px;
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.171);
    border-radius: 30px;
    padding: 30px;
    margin-top: -100px;
    margin-right: -200px;
    
    position: absolute;
    top: 0px;
    right: 100px;
}
#rightDescription h3{ 
    color: rgb(61, 61, 61);
    font-size: 40px;
    text-align: center;
    font-style: italic;
}
#rightDescription p{ 
    color: black;
    font-size: 35px;
    text-align: center;
    max-width: 100%;
}
#leftDescription{
    width: 450px;
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.171);
    border-radius: 30px;
    padding: 30px;
    margin-top: 100px;

    position: absolute;
    top: 300px;
    left: -100px;
}
#leftDescription h3{
    color: black;
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
}
#leftDescription p{
    color: black;
    font-size: 32px;
    text-align: left;
    max-width: 100%;
}
#relative{
    position: relative;
}
#zombekBoxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}
#c{
    color: black;
    font-style: normal;
    background: -webkit-linear-gradient(41deg,rgba(217, 59, 193, 1) 0%, rgba(124, 216, 235, 1) 84%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#czytajBox h2:hover{
    color: rgb(196, 196, 196);
}
#czytajBox h2{
    transition: color 0.1s ease-in-out;
}

/*  CZYTAJ  */
#bodyCzytaj{
    background: linear-gradient(236deg,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    scroll-margin-top: 500px;
}
#czytajMarginP{
    margin-top: 100px;
}
#blackArrow{
    height: 100px;
    width: 100px;
    transform: rotate(110deg);
    margin-top: 100px;
    filter: invert(90%);
    
    position: absolute;
    top: 10px;
    right: 50px;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.col p{
    max-width: 100%;
}
.col img{
    height: 50px;
    width: 50px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.068);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    padding: 10px;
}
.col img:hover{
    background-color: rgba(0, 0, 0, 0.13);
    transition: 0.2s ease background-color;
}
#booksList{
    width: auto;
    height: 1000px;
    background-color: white;
    padding: 40px;
}
#booksRow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}
#booksRow img{
    border-radius: 30px;
    width: 350px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.37);
}
.unavaible{
    position: relative;
    filter: grayscale(100%);
    border: 0px black solid;
    transition: transform 0.6s ease, box-shadow 0.6s ease, border 0.6s ease, filter 0.15s ease-in-out;
}
.unavaible:hover{
    filter: grayscale(0%);
    transform: scale(1.1) rotate(5deg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border: 2px white solid;
    z-index: 10;
}
#fxn1Read{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#booksList h2{
    color: black;
    margin-bottom: 100px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}



#readBox{
    width: auto;
    height: 23000px;
    margin-top: 100px;
    
    display: flex;
    align-items: center;
    flex-direction: column;
}
#readBox h2{
    font-style: italic;
    margin-bottom: 20px;
}
#readBoxP{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
#readBox p{
    text-align: left;
    font-size: 20px;
    line-height: 40px;
    max-width: 700px;
}
#readBox #firstletter::first-letter{
    font-size: 50px;
}
#readBody{
    background: transparent;
    background-color: rgb(49, 49, 49);
    scroll-margin-top: 0px;
}
#chapter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#chapter h3{
    text-align: center;
    color: rgb(63, 147, 216); 
    font-size: 80px; 
    margin-top: 100px;
}
#chapter h4{
    color: rgb(126, 143, 156); 
    font-size: 40px;
    font-style: italic;
    font-weight: lighter;
}


#firejName{
    color: orange;
}
#zombekName{
    color: rgb(174, 203, 228);
}
#unknownName{
    color: rgb(168, 168, 168);
}
#nerdName{
    color: rgb(243, 157, 239);
}
#kertoipName{
    color: red;
}
#lukaszenkaName{
    color: rgb(113, 211, 113);
}
#brajanName{
    color: rgb(123, 221, 213);
}
#zentyczkaName{
    color: rgb(180, 72, 202);
}

#controlsUp{
    position: fixed;
    top: 100px;
    right: 0px;
    width: 35px;
    height: 35px;
    padding: 10px;
    margin: 20px;
    margin-right: 10px;

    transform: rotate(180deg);
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 15px;

    transition: background-color ease-in-out 0.1s;
}
#controlsUp:hover{
    background-color: rgba(0, 0, 0, 0.356);
}
#controlsDown{
    position: fixed;
    top: 91%;
    right: 0px;
    width: 35px;
    height: 35px;
    padding: 10px;
    margin: 20px;
    margin-right: 10px;

    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 15px;

    transition: background-color ease-in-out 0.1s;
}
#controlsDown:hover{
    background-color: rgba(0, 0, 0, 0.356);
}

#navigator{

}


@keyframes blink{
    50% {border-color: transparent;}
}
